<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${properties.forumTitle}"></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link th:href="@{/styles.css}" rel="stylesheet" />
	</head>
	<body>
	<div class="container">
	<div th:replace="fragments/header :: header"> </div>
	<div th:unless="${thread}"> <span th:unless="${deleted}">Wybrany wątek nie istnieje lub wystąpił inny problem. </span> <span th:if="${deleted}">Wybrany wątek został usunięty. </span> <br>
		<a class="btn btn-primary border border-1 border-dark" th:href="@{/forums}">Powrót</a>
	</div>
	
	<div th:if="${thread}">
		<div sec:authorize="!isAuthenticated()">
			Musisz być zalogowany, aby móc usuwać wątki. <br>
			<a th:href="@{/login}">Zaloguj się</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<span th:if="${thread.userid != #authentication.getPrincipal().getId()}">Nie masz uprawnień do usunięcia tego wątku.</span>
			<div th:if="${thread.userid == #authentication.getPrincipal().getId()}">
				Na pewno chcesz usunąć ten wątek? Spowoduje to również usunięcie wszystkich znajdujących się w nim postów.<br>
				<form th:action="@{/forums/__${thread.forumid}__}">
					<button type="submit" class="btn btn-primary border border-1 border-dark">Powrót</button>
				</form>
				<form method="POST" th:action="@{/deletethread?threadid=__${thread.id}__}">
					<button type="submit" class="btn btn-danger border border-1 border-dark">Usuń wątek</button>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"> </div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>

</html>