<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${properties.forumTitle}"></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link th:href="@{/styles.css}" rel="stylesheet" />
	</head>
	<body>
	<div class="container">
		<div th:replace="fragments/header :: header"> </div>
		<div th:unless="${thread}">
			Nieprawidłowy wątek.
		</div>
		<div th:if="${thread}">
		    <div sec:authorize="isAuthenticated()">
				<div class="mb-3"><h4>Edytuj wątek: <span class="fw-bold" th:text="${thread.title}">TYTUŁ</span></h4></div>
				<div th:if="${thread.userid == #authentication.getPrincipal().getId()}">
					<form method="POST" th:object="${editthread}" th:action="@{/editthread?threadid={id}(id=__${thread.id}__)}">
						<span th:if="${#fields.hasErrors()}">Popraw wskazane poniżej błędy i spróbuj ponownie.</span><br>
						<div class="form-group">
							<label for="threadTitle">Tytuł wątku</label>
							<input class="form-control" type="text" th:field="*{threadTitle}"/>
							<span th:if="${#fields.hasErrors('threadTitle')}" th:errors="*{threadTitle}">Błąd tytułu wątku.</span>
						</div>
						<button type="submit" class="btn btn-primary mt-3">Edytuj</button>
					</form>
				</div>
				<div th:unless="${thread.userid == #authentication.getPrincipal().getId()}">Nie masz uprawnień do edytowania tego wątku.</div>
			</div>
			<span sec:authorize="!isAuthenticated()">Zaloguj się, aby edytować wątek.</span>
		
		</div>
		<div th:replace="fragments/footer :: footer"> </div>
		</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>

</html>